services:
  app:
    build: .
    container_name: laravel_app
    volumes:
      - ./:/var/www
    ports:
      - "8080:8000"
    depends_on:
      - db
    command: php artisan serve --host=0.0.0.0 --port=8000

  node:
    image: node:20
    container_name: laravel_node
    working_dir: /var/www
    volumes:
      - ./:/var/www
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"

  db:
    image: mysql:8.0
    container_name: laravel_db
    environment:
      MYSQL_DATABASE: habits
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
